.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.25rem;
    text-align: center;
    z-index: 2000;

    max-width: 80%;
}

.hidden{
    display: none !important;
}