.card {
    flex: 0 0 calc(33.333% - 1rem);
    max-width: 300px;
    aspect-ratio: 3 / 4; 
    overflow: hidden;
    border-radius: 12px;
    max-height: calc((100vh - 220px) / 2);
    transition: transform 400ms ease-in-out;
    }

.card:hover{
    transform: translateY(-30px);
    box-shadow: 3px 4px 6px rgb(251, 31, 12);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
