.top-container{
    display: flex;
    justify-content: space-between;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px; 
    margin: 0 auto;
    gap: 1rem;
    max-height: calc(100vh - 220px);
}
