:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  height: 100%;
  margin: 0;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.65)), url('/leonardo-iribe-vendor.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}